
/* BASICS */
 * {
        box-sizing: border-box;
 }


/* HEADER */
nav {
    text-align: center;
    width: 100%;
    margin-top: 0;
  }
  
  li {
    margin-right: 20px;
    margin-left: 20px;
    display: inline-block;
  }
  
  .logo {
    color: rgba(0, 0, 0, 0.87);
    font-size: 27px;
    font-weight: 900;
    font-family: 'Playfair Display', serif;
  }
  
  #site-name {
    margin-left: 0px;
  }